# Next.js
# Ignore Next.js build output directory
/.next/

# Ignore Next.js development server runtime data
/.next/cache/
/.next/server/

# Ignore Next.js static directory (production build)
/out/

# Django
# Ignore database files
*.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment file
.env

# Ignore Node.js modules
node_modules/

# Node.js package locks
package-lock.json
yarn.lock